*{
    padding: 0 ;
    margin: 0  ;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #ffddd2;
}

div{
    display: flex;
}

img{
    padding-top: 20px;
    padding-left: 30px;
}

.p1{
    padding-left: 40px;
    font-size: 30px;
    padding-top: 0px;
}

p{
    padding-top: 30px;
    padding-left: 50px;
    font-size: 35px;
}

.imagens{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 20%;
}

.texto-rosa{
    color:rgb(245, 66, 161) ;
}

footer{
    background-color:#ffc2d1;
    font-size: 20px;
    padding: 15px;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: lightpink;
    font-size: 30px;
}

.cabecalho{
    width: 100%;
    text-decoration: none;
    display: flex;
    background-color:#ffc2d1;
}

li{
    list-style: none;
    background-color:#e2fdff;
}

h1{
    width: 100%;
    color: rgb(239, 248, 255);
    padding-left: 560px;
    font-size: 55px; 
}

h3{
    display: flex;
    padding-top: 15px;
    width: 100%;
}

.item1{
    padding-left: 160px;
}

.item1:hover{
    color: #f08080;
}

.item2{
    padding-left: 180px;

}

.item2:hover{
    color: #f08080;
}

.item3{
    padding-left: 200px;

}

.item3:hover{
    color: #f08080;
}

.item4{
    padding-left: 230px;
    padding-right: 223px;
}

.item4:hover{
    color: #f08080;
}
