*{
    padding: 0 ;
    margin: 0  ;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #ffddd2;
}

a{
    text-decoration: none;
    color: lightpink;
    font-size: 30px;
}

.cabecalho{
    width: 100%;
    text-decoration: none;
    display: flex;
    background-color:#ffc2d1;
}

li{
    list-style: none;
    background-color:#e2fdff;
    padding-right: 18px;
}

h1{
    width: 100%;
    color: rgb(239, 248, 255);
    padding-left: 620px;
    font-size: 55px; 
}

h3{
    display: flex;
    padding-top: 15px;
    width: 100%;
}

.item1{
    padding-left: 160px;
}

.item1:hover{
    color: #f08080;
}

.item2{
    padding-left: 182px;

}

.item2:hover{
    color: #f08080;
}

.item3{
    padding-left: 200px;

}

.item3:hover{
    color: #f08080;
}

.item4{
    padding-left: 230px;
    padding-right: 250px;
}

.item4:hover{
    color: #f08080;
}

footer{
    background-color:#ffc2d1;
    font-size: 20px;
    padding: 15px;
}